html, body {
  height: 100%;
  margin: 0;
  padding: 0 5% ;
  background-image: linear-gradient(to left top, #ff69b4, #ff8492, #ffad7c, #ffd87c, #ffff99);
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: keeps it from scrolling */
  background-size: cover;       /* Ensures full coverage */
}

.Bilderraster {
  margin: 5% 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
  gap: 5%;
}

.Collage {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid pink;
  border-radius: 10%;
}

.druck {
  color: black;
  border: solid 2px white;
  border-radius: 7px;
  height: 26px;
  background-color: azure;
}